body{
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Main menu css starts */
.navbar-light .navbar-nav .active > .nav-link {
    color: #00e0d0;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #00e0d0;
}

.sticky-menu {
    background-color: rgb(44, 38, 74, 0.9);
}

.navbar {
    transition: 1s all ease;
}

.navbar-light .navbar-nav .nav-link.active {
    color:  #00e0d0;
}
/* Main menu css ends */

/* Banner css starts */

#banner-part {
    background: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#banner-part::after {
    position:absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(44, 38, 74, 0.8);
}
/* Banner slider */

.banner-slider  {
    z-index: 9;
    position: relative;
}

.slick-dots {
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-59%);
}

.slick-dots li {
    display: inline-block;
    margin-right: 10px;
    width: 19px;
    height: 19px;
    line-height: 18px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.slick-dots li button {
    color: transparent;
    width: 14px;
    height: 14px;
    line-height: 15px;
    border-radius: 50%;
    border: none;
    background: #00e0d0;
    opacity: 0;
    transition: 0.5s all ease;
}

.slick-dots li.slick-active button {
    opacity: 1;
}

.banner-text-area {
    position: relative;
    z-index: 999;
    padding: 250px 0;
}

.banner-text-area h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 700;
    color: #f1f1f3;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    position: relative;
}

.banner-text-area h2::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    left: 50%;
    top: 60px;
    background-color: #00e0d0;
    transform: translateX(-50%);
}

.banner-text-area p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #f1f1f3;
    padding: 60px 115px 50px;
}

.banner-text-area a {
    border: 2px solid #00e0d0;
    color: #00e0d0;
    padding: 8px 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

/* Banner css ends */

/* About css starts */

#about-us {
    padding: 70px 0;
}

.about-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    color: #413d4b;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    padding-bottom: 30px;
}

.about-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #716e78;
    line-height: 24px;
    margin-bottom: 0 !important;
    padding-bottom: 30px;
}

.about-text a {
    border: 2px solid #00e0d0;
    color: #00e0d0;
    padding: 8px 15px;
    font-weight: bold;
    text-transform: uppercase;
}
/* About css ends */

/* Video css starts */

#video-part {
    background: url(img/video_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 200px 0;
}

#video-part::after {
    position:absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(44, 38, 74, 0.8);
}

.video-icon {
    z-index: 90;
    position: relative;
    color: #ffffff;
}

.play-icon {
    
    width: 80px !important;
    height: 80px;
    line-height: 75px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
}

.video-icon h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 20px;
}

.venobox {
    color: #ffffff;
}

.venobox:hover {
    color: #FF0000;
}

/* Video css ends */

/* Sercices css starts */

.service-text {
    padding: 70px 0;
}

.service-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    color: #413d4b;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.service-text p {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 300;
    color: #78767c;
    position: relative;
}

.service-text p::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background: #c6c4c9;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
}

.services-area {
    padding: 40px 0;
}

.services-area img {
    padding-bottom: 25px;
    cursor: pointer;
}

.services-area h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #413d4b;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 25px;
}

.services-area p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #666666;
    line-height: 22px;
    padding: 0 55px;
}

/* Sercices css ends */

/* Team css starts*/

#team {
    background: url(img/team_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#team::after {
    position:absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(44, 38, 74, 0.8);
}

.team-top-text {
    padding: 45px 0;
    z-index: 100;
    position: relative;
}

.team-top-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.team-top-text p {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    position: relative;
}

.team-top-text p::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background: #c6c4c9;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
}

/* Team items css */

.team-slider {
    z-index: 90;
    position: relative;
}

.team-items {
    z-index: 90;
    position: relative;
    padding: 45px 0;
}

.team-item-body {
    background: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.team-details h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
}

.team-details p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    line-height: 22px;
    text-transform: uppercase;
}

.team-bottom-text {
    z-index: 90;
    position: relative;
    color: #ffffff;
    padding-bottom: 45px;
}

.team-bottom-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 20px;
}

.team-bottom-text a {
    border: 2px solid #00e0d0;
    color: #00e0d0;
    padding: 8px 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
/* Team css ends */

/* Portfolio css starts */

#portfolio {
    padding: 70px 0;
}

.top-left-text h3 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    color: #413d4b;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 70px;
}

.top-right-text p {
    text-align: right;
}

.top-right-text a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #413d4b;
    text-decoration: none;
}

.project-icon {
    color: #413d4b !important;
}

.project-button a {
    border: 2px solid #00e0d0;
    color: #00e0d0;
    padding: 8px 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 70px;
    display: inline-block;
}

/* Portfolio css ends */

/* Testimonial css starts */

#testimonials {
    background: url(img/team_slider_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 0;
    position: relative;
}

#testimonials::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(44, 38, 74, 0.8);
}

.testimonials-text {
    position: relative;
    z-index: 98;
    color: #ffffff;
    padding: 0 80px;
}

.testimonials-text i {
    font-size: 25px;
}

.testimonials-text p {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 28px;
    padding: 45px 105px;
}

.testimonials-text h4 {
    ont-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.testimonials-text h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 45px;
    text-transform: uppercase;
}

.img-slider {
    position: relative;
    z-index: 98;
}

.img-slider img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(0.7);
}

.text-slider {
    position: relative;
    z-index: 98;
}

.img-slider {
    width: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 98;
    padding: 0 40px;
}

.img-slider-left {
    position: absolute;
    z-index: 98;
    color: #ffffff;
    top: 80%;
    left: 33%;
    cursor: pointer;
    font-size: 18px;
}

.img-slider-right {
    position: absolute;
    z-index: 98;
    color: #ffffff;
    top: 80%;
    right: 33%;
    cursor: pointer;
    font-size: 18px;
}

.slick-center .testimonial-img  img {
    transform: scale(1);
    transition: 1s all ease;
}
/* Testimonial css ends */

/* Contact css starts */

.contact-top {
    padding: 70px 0;
}

.contact-left-text h3 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    color: #413d4b;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.contact-right-text h3 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    color: #413d4b;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.contact-btn {
    border: 2px solid #00e0d0;
    color: #00e0d0;
    padding: 8px 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background: transparent;
}
/* Contact css ends */

/* Footer css starts */

#footer {
    background: url(img/footer_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 70px 0;
}

#footer::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(71, 54, 108, 0.7);
}

.footer-top {
    position: relative;
    z-index: 10;
}

.footer-top-left p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    padding: 25px 85px 0 0;
    margin: 0;
}

.footer-top-mid h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    padding: 25px 0;
    margin: 0;
}

.footer-top-mid p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}

.footer-top-right h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    padding: 25px 0;
    margin: 0;
}

.social-icons {
    padding: 20px 0;
}

.footer-top-right ul li {
    float: left;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 26px;
    text-align: center;
    margin-right: 8px;
}

.footer-top-right ul li a {
    color: #ffffff;
    font-size: 12px;
}

.send-input{
    background: transparent;
    border-radius: 0px;
    
}
.send-btn{
    border: 1px solid #fff;
    padding: 6px 20px;
    color: #030303;
    background: rgba(221, 221, 221,0.5);
    border-radius: 0px;
}

.footer-bottom {
    position: relative;
    z-index: 10;
}

.footer_bottom_left ul {
    padding-left: 0;
}

.footer_bottom_left ul li {
    float: left;
    padding-top: 25px;
    padding-right: 45px;
}

.footer_bottom_left ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.footer_bottom_right p {
    ont-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    padding: 45px 65px 0 0;
    margin: 0;
}

/* Footer css ends */

